<div class="single-sidebar">
  <div class="quick-contact">
      <h3>Book This Tour</h3>
      <form>
        <div class="book-tour-field">
            <input type="text" placeholder="Your Name">
        </div>
        <div class="book-tour-field">
            <input type="email" placeholder="Email Address">
        </div>
        <div class="book-tour-field">
            <input type="tel" placeholder="Phone Number">
        </div>
        <div class="book-tour-field">
            <input id="reservation_date" name="reservation_date" placeholder="Departure Date" data-select="datepicker" type="text">
        </div>
        <div class="book-tour-field clearfix">
            <select class="wide">
              <option selected disabled>Number Of Person</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4+</option>
            </select>
        </div>
        <div class="book-tour-field">
            <button type="submit">Booking</button>
        </div>
      </form>
  </div>
</div>