<section class="contact-breadcrumb-area" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="contact-thanks">おといあわせ、ありがとうございました。</h3>
    </div>
  </div>
</section>

<%= stylesheet_link_tag "contact" %>
<%= stylesheet_link_tag "contact_thanks" %>