<!-- Reviews Area Start -->
<section class="peulis-reviews-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="reviews-slider owl-carousel">
                    <div class="single-reviews">
                        <div class="reviews-image">
                            <img src="assets/img/reviews-2.png" alt="reviews-1" />
                        </div>
                        <div class="reviews-text">
                            <div class="reviewer">
                                <h3>Luaka Smith</h3>
                            </div>
                            <p>"Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque"</p>
                        </div>
                    </div>
                    <div class="single-reviews">
                        <div class="reviews-image">
                            <img src="assets/img/reviews-1.png" alt="reviews-1" />
                        </div>
                        <div class="reviews-text">
                            <div class="reviewer">
                                <h3>joseph steve</h3>
                            </div>
                            <p>"Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reviews Area End -->