<!-- Slider Area Start -->
<section class="peulis-slider-area overlay">
    <div class="peulis-slide owl-carousel">
        <div class="slider-container slider-1">
            <div class="single-slider zoom"></div>
        </div>
        <div class="slider-container slider-2">
            <div class="single-slider zoom"></div>
        </div>
    </div>
    <div class="banner-area">
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 content-home">
                        <div class="banner-welcome">
                            <h4 class="text">travel with us</h4>
                            <div class="caption-inner">
                                <div class="ah-headline">
                                    <span class="typed-static">Banff</span>
                                    <span class="ah-words-wrapper">
                                        <b class="is-visible"> Adventure</b>
                                        <b> Holiday</b>
                                        <b> Mountain</b>
                                    </span>
                                </div>
                            </div>
                            <div class="booking">
                                <div class="tour-details">
                                    <a href="tour-details.html" class="w-25 py-4"><i class="fa fa-flag"></i> Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Area End -->