<!-- Awesome Tour Area Start -->
<section class="peulis-awesome-tour-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="awesome-tour-box">
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=W9x4TcdFwVA" class="popup-youtube">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h2>Go Ahead & Make Awesome Tour</h2>
                    <p>Discover hidden wonders on trips With Peulis</p>
                    <a href="#" class="peulis-btn">Explore More <i class="fa fa-angle-double-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Awesome Tour Area End -->