<!-- Discount Area Start -->
<section class="peulis-discount-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="discount-box">
                    <img class="discount_vector" src="assets/img/discount_single.png" alt="Travel Discount" />
                    <div id="container">
                        <div class="discount_desc" id="inner">
                            <h4>Travel Adventures</h4>
                            <h2>25% off</h2>
                            <p>Spend a best Holidays with us</p>
                            <div class="descount_btn">
                                <a href="#"><img src="assets/img/appstore.png" alt="appstore" /></a>
                                <a href="#"><img src="assets/img/playstore.png" alt="playstore" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Area End -->