<!-- Choose Area Start -->
<section class="peulis-choose-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="site-heading">
                    <h2>バンフツアーズを選ぶ理由</h2>
                    <p>Lorem ipsum dolor sit amet, conseetuer adipiscing elit. Aenan comdo igula eget. Aenean massa cum sociis Theme natoque.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-choose">
                    <p>01</p>
                    <div class="choose-image">
                        <%= image_tag("200*200/ANA_200*200.jpeg", alt: "Safe Travel") %>
                    </div>
                    <div class="choose-desc">
                        <h3>安全な旅</h3>
                        <p>printing and typesetting industry has been printing the industry’s ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-choose">
                    <p>02</p>
                    <div class="choose-image">
                        <%= image_tag("200*200/brewster_200*200.jpeg", alt: "Awesome Guide") %>
                    </div>
                    <div class="choose-desc">
                        <h3>感動的な景色を</h3>
                        <p>printing and typesetting industry has been printing the industry’s ipsum</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-choose">
                    <p>03</p>
                    <div class="choose-image">
                        <%= image_tag("200*200/ANA_200*200.jpeg", alt: "Save Money") %>
                    </div>
                    <div class="choose-desc">
                        <h3>ユーモ溢れるトークを</h3>
                        <p>printing and typesetting industry has been printing the industry’s ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->