<!-- Reviews Area Start -->
<section class="peulis-reviews-area section_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="reviews-slider owl-carousel">
                    <div class="single-reviews">
                        <div class="reviews-image">
                            <%= image_tag("143*144/fran_143*144.jpeg", alt: "reviews-1") %>
                        </div>
                        <div class="reviews-text">
                            <div class="reviewer">
                                <h3>Fran</h3>
                            </div>
                            <p>"Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque"</p>
                        </div>
                    </div>
                    <div class="single-reviews">
                        <div class="reviews-image">
                            <%= image_tag("143*144/tamago_143*144.png", alt: "reviews-1") %>
                        </div>
                        <div class="reviews-text">
                            <div class="reviewer">
                                <h3>Tamago</h3>
                            </div>
                            <p>"Dolor ipsum dolor sit amet, consectetuer adipiscing elit. Lorem commodo ligula eg dolor. Lorem Aenean msa. Cum sociis natoque"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Reviews Area End -->